.base-layout{
  height: 100%;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.header {
  background-color: #fff;
}

.content {
  padding: 16px;
  overflow-y: auto;
}