.login_page{
  height: 100%;
  background: url('https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3646927321,1165780335&fm=26&gp=0.jpg') no-repeat;
  background-size: 100% 100%;
  .ant-row-flex{
    .login_page_col{
      margin-top: 15%;
      max-width: 300px;
      .login-form-button{
        width: 100%;
      }
    }
  }
}